.add-button {
    background-color: chartreuse;
    height: 40px;
    padding: 0 10px;
    border-radius: 5px;
    width: 100%;
    font-size: 16px;
    color: #444;
    font-weight: bold;
    cursor: pointer;
    border: none;

}

.add-button:hover {

    transition: 1s;
    box-shadow: inset 0 0 0 25px white;
    background-color: aliceblue;
}